################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FørsteNHibernateProjekt/v16/Server/sqlite3
/FørsteNHibernateProjekt/obj
